
/obj
/.vs
/bin
Resources/Dictionary-ru-RU.xaml
Resources/Dictionary-en-US.xaml
Resources/Dictionary-zh-CN.xaml
Resources/Dictionary-uk-UA.xaml
Resources/Dictionary-ko-KR.xaml
Resources/HelloRU.rtf
Resources/HelloEN.rtf
Resources/HelloCN.rtf
Resources/HelloUA.rtf
Resources/HelloKR.rtf
Resources/faqRU.rtf
Resources/faqEN.rtf
Resources/faqCN.rtf
Resources/faqUA.rtf
Resources/faqKR.rtf
Resources/HideSpecialIconGrids.dll
/Properties